# ==========================================
# SERVER & ENVIRONMENT CONFIGURATION
# ==========================================
PORT=3000
NODE_ENV=production  # "production" enables SameSite=None and Secure cookies
FRONTEND_URL=https://pull-shark-phi.vercel.app

# ==========================================
# DATABASE CONFIGURATION
# ==========================================
MONGODB_URI=
DATABASE_URL=

# ==========================================
# REDIS CONFIGURATION (Cache & BullMQ)
# ==========================================
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# ==========================================
# GITHUB OAUTH & APP CONFIGURATION
# ==========================================
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=https://pullshark.onrender.com/auth/callback
GITHUB_WEBHOOK_SECRET=
GITHUB_APP_ID=
GITHUB_APP_SLUG=
GITHUB_PRIVATE_KEY=

# ==========================================
# AUTHENTICATION & JWT KEYS
# ==========================================
JWT_SECRET_KEY=
JWT_REFRESH_SECRET_KEY=

# ==========================================
# LLM SERVICE CONFIGURATION
# ==========================================
LLM_ANALYSIS_URL=https://pullshark-ai-iaek.onrender.com/api/analyze

# ==========================================
# EMAIL NOTIFICATION SERVICES
# ==========================================
EMAIL_USER=
EMAIL_PASS=